.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.idea/
.vscode/
*.iml
android/key.properties
android/*.jks
android/*.keystore
android/local.properties
android/.gradle/
android/.kotlin/
.android-home/
*.log
*test_output*.txt
ticket*.txt
